.ticket
  %h3 Subject: #{@ticket.subject}
  %p Department: #{@ticket.department_name}
  %p Customer name: #{@ticket.name}
  %p Question: #{@ticket.question}
  %p Date: #{@ticket.created_at}
  %hr

= render @ticket.messages
